<div class="battle-area" [formGroup]="battleForm">
  <div class="pokemon-selector">
    <select formControlName="pokemon1">
      <option *ngFor="let pokemon of pokemons" [ngValue]="pokemon">{{pokemon.name}}</option>
    </select>
    <select formControlName="pokemon2">
      <option *ngFor="let pokemon of pokemons" [ngValue]="pokemon">{{pokemon.name}}</option>
    </select>
  </div>
  <button (click)="generateBattle()">Fight!</button>
  <div class="battle-description">
    {{ battleText }}
  </div>
</div>
